.sectionDivider {
  margin-top: 52px;
  margin-bottom: 42px;
  text-align: center;
}

.sectionDivider:before {
  content: '...';
  font-family: medium-content-slab-serif-font, Georgia, Cambria,
    'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  letter-spacing: 0.6em;
}

.chatMessageActions {
  display: none;
  clear: both;
}

.chatMessageActions > a {
  margin: 10px;
}

.chatMessageContainerAdmin:hover {
  border: 1px solid black;
}

.chatMessageContainerAdmin:hover .chatMessageActions {
  display: block;
}

.controls {
  position: fixed;
  bottom: 20px;
  right: 39%;
  display: flex;
  flex-direction: row;
}

.control {
  border: 1px solid #1a7ced;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
}
