.container {
  width: 240px;
  position: relative;
  padding: 20px;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 100px;
  transition: 0.5s opacity;
}

.container.decline {
  float: right;
  border: 5px solid red;
}

.title {
  font-size: 20px;
  line-height: 1;
  text-align: center;
  opacity: 1;
  transition: 0.5s opacity ease-in-out;
}

.description {
  box-shadow: 0 0 0 8px rgba(26, 124, 237, 0.9) inset;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s opacity ease-in-out;
  width: 400px;
  background: #fff;
  color: #000;
  padding: 20px;
  z-index: 1;
}

.description.decline {
  box-shadow: 0 0 0 8px red inset;
}

.container:hover .title {
  opacity: 0;
}

.container:hover .description {
  opacity: 1;
}

/*
.line {
  position: absolute;
  background: red;
  height: 1px;
}

.line::after {
  content: attr(data-content);
}
*/
