sudo: false

language: node_js
node_js: node
script: npm run fix && npm run test-client
branches:
  only:
  - master
  - release
cache:
  directories:
    - node_modules

deploy:
  - provider: heroku
    app: adamgoldman-staging
    api_key:
      secure: nrAmogwFXFjQGfzxgkFSaZa03wi6LDPSfg8VLuKyuZlL2IY29/IO1KbL3inUCobkPgcaxC7ibSZ+GODG6J9iG8wrEU1brx+8c9dtp3xqE9xljuFzwZwB09k2u8757Uftr1rOH6p1YwKRuOy26/PzCl/GonT02sq++QinF0DG4JAvXWlKEpArAvwaCehwZeo8yW2JZP2KzqKRACKNEKjKfhOJYcDZ8KlylIpdOLKsDoc5JQ6Pzq3koqXJwmBRv72JKXZlGYqCAYnb2FQC6TyMjGdvL+5lC6jfxZ6OWbkZ+fWj2ZdIGgSGaaaW5H5nFMOhO8hlGVC7qVb4pRt+izEnZIGr2B+XqXEsHje2erkeNFVcO142GjC8zRcN17bD2y0PUfnXPBGMatkUgZ+hltjFbzd3t4rIxUziA5+jyKNsB63qUq+2bJdghJ9CmEuOHxB0xj9lCCFEsZX87CDZ0GzZzGfcGCOESxqVVMVsSTpd3eIVSg2Vj3AwYVg9ufzN9aXkeWqj6GK/k1PKokERvvhlYQ33XlvIciaNRNLtkPJeQtE6ZlkefZ26sQhXYj7PWNuxtGgG6YenaO85ImvwOQy++vwtYVJ845ui4sB1ArO9jnCRnPpowWATcLFqEW/GJtTjEygCJxSb+dLcACoDr11NNIAm0PR6cdj0WH1CGUI4ZFo=
  - provider: heroku
    app: adamgoldman
    api_key:
      secure: nrAmogwFXFjQGfzxgkFSaZa03wi6LDPSfg8VLuKyuZlL2IY29/IO1KbL3inUCobkPgcaxC7ibSZ+GODG6J9iG8wrEU1brx+8c9dtp3xqE9xljuFzwZwB09k2u8757Uftr1rOH6p1YwKRuOy26/PzCl/GonT02sq++QinF0DG4JAvXWlKEpArAvwaCehwZeo8yW2JZP2KzqKRACKNEKjKfhOJYcDZ8KlylIpdOLKsDoc5JQ6Pzq3koqXJwmBRv72JKXZlGYqCAYnb2FQC6TyMjGdvL+5lC6jfxZ6OWbkZ+fWj2ZdIGgSGaaaW5H5nFMOhO8hlGVC7qVb4pRt+izEnZIGr2B+XqXEsHje2erkeNFVcO142GjC8zRcN17bD2y0PUfnXPBGMatkUgZ+hltjFbzd3t4rIxUziA5+jyKNsB63qUq+2bJdghJ9CmEuOHxB0xj9lCCFEsZX87CDZ0GzZzGfcGCOESxqVVMVsSTpd3eIVSg2Vj3AwYVg9ufzN9aXkeWqj6GK/k1PKokERvvhlYQ33XlvIciaNRNLtkPJeQtE6ZlkefZ26sQhXYj7PWNuxtGgG6YenaO85ImvwOQy++vwtYVJ845ui4sB1ArO9jnCRnPpowWATcLFqEW/GJtTjEygCJxSb+dLcACoDr11NNIAm0PR6cdj0WH1CGUI4ZFo=
    on:
      branch: release
