.appWrapper {
  height: 100vh;
  display: flex;
}

.mainContent {
  overflow-y: scroll;
  width: 75%;
  background: #1a7ced;
  position: relative;
}

.sidebar {
  width: 25%;
  background: #302f37;
  position: fixed;
  right: 0;
  height: 100%;
}
