.appWrapper {
  height: 100vh;
  display: flex;
}

.mainContent {
  overflow-y: scroll;
  width: 75%;
  background: #1a7ced;
  position: relative;
  padding: 10px;
}

.sidebar {
  width: 25%;
  background: #302f37;
  position: fixed;
  right: 0;
  height: 100%;
}

/* mobile */
@media (max-width: 800px) {
  .appWrapper {
    flex-direction: column-reverse;
    min-height: 100vh;
    height: auto;
  }

  .sidebar {
    width: 100%;
    position: static;
  }
  
  .mainContent {
    width: 100%;
    overflow-y: visible;
  }
}