.FbGateKeeperContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .50);
}
.FbGateKeeperButton {
  margin: 25% auto 0;
  width: 50%;
  text-align: center;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #03a87c;
  font-size: 30px;
  background: #03a87c;
  color: #ffffff;
  opacity: 1;
  transition: 0.5s opacity;
}
.FbGateKeeperButton:hover {
  opacity: 0.7;
}
@media only screen and (max-width : 1198px) {
  .FbGateKeeperButton {
    font-size: 25px;
    width:70%;
  }
}
@media only screen and (max-width : 768px) {
  .FbGateKeeperButton {
    font-size: 20px;
    width:80%;
  }
}
