.controls {
  position: fixed;
  bottom: 20px;
  right: 10px;
  display: flex;
  flex-direction: row;
}

.control {
  border: 1px solid #1a7ced;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  color: inherit;
  text-decoration: none !important;
}

.answer {
  margin-bottom: 10px;
}

.answerActions {
  transition: 0.5s opacity;
  opacity: 0;
}

.answerActions > * {
  cursor: pointer;
}

.answer:hover .answerActions{
  opacity: 1;
}

.answerSettingsToggle {
  margin-right: 20px;
  transition: 0.5s opacity;
  opacity: 0.5;
}

.answerSettingsToggle.isActive {
  opacity: 1;
}
.answerOptionCol {
  height: 0px;
  position: relative;
  top: -4px;
  margin-bottom: -1px;
}
.answerOption {
  float: left;
  margin-right: 5px;
}

.answerOptionToggle {
  float: left;
  margin-right: 3px;
}
.answerOptionToggle svg {
  width: 10px;
  height: 10px;
  position: relative;
  top: -5px;
}

.answerOptionField {
  transition: width 0.5s;
  width: 0px;
  height: 10px;
  font-size: 10px;
  border: none;
  position: relative;
  top: -5px;
}
.answerOptionField.isVisible {
  width: 30px;
}